<div id="topleftbutton">
<%= link_to '', countries_path, id: "back" %>
<%= link_to "Back", countries_path, id: "backtext" %></div>
<br><br><br><br><br>
<%= @profile.name %>
<br>
<%= image_tag @profile.photo.url(:small) %>
