body {
    font-family: open sans;
    margin: 0 auto;
    padding: 0;
}


#photo {
    height: 100%;
    width: 100%;
}

#window {
    width: 250px;
    height: 250px;
    overflow: hidden;
    box-shadow: 0px 0px 9px 1px;
}

#circle {
    height: inherit;
    margin: 0 auto;
}

#circle_div {
    height: inherit;
    margin: auto;
}


#container {
    width: 100%;
    height: 100%;
}


#backphoto {
    width: inherit;
    height: inherit;
}

#country_name {
    opacity: 1;
    color: black;
    text-align: center;
    font-size: 45px;
    font-weight: 200;
    z-index: 100;
    width: 100%;
}

a {
    text-decoration: none;
}


#window_container {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin-left: 20px;
    position: relative;
}


#country_container {
    position: relative;
}

#back_container {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 1%;
    line-height: 0;
}

#back {
    color: whitesmoke;
    position: absolute;
    top: 16px;
    left: 31px;
}

#back_box {
    width: 100px;
    height: 32px;
    position: absolute;
    top: -45px;
    background-color: #1abc9c;
    border-radius: 6px;
}
}

#newcitylink {
    width: 200px;
    height: 15px;
}

#back_box:active {
    box-shadow: 0px 0px 9px 4px #16a085 inset;
}

#back_box:hover {
    opacity: 0.8;
}


#new_city_box {
    width: 230px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    margin-top: 16px;
    background-color: powderblue;
    border-radius: 10px;
}

#newcitylink {
    text-align: center;
    color: black;
    font-size: 20px;
}

#new_city_center {
    position: absolute;
    top: 50%;
    line-height: 0;
    left: 34%;
}

#links {
    width: 100px;
    margin: 0 auto;
}


#delete_div {
    width: 40px;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
}

#delete_text {
    margin: 0 auto;
    width: 100px;
    color: black;
}


#city_title {
    position: absolute;
    color: white;
    font-size: 30px;
    top: 50%;
    line-height: 0;
    left: 22%;
    z-index: 20;
}


#window_overlay {
    position: absolute;
    height: 250px;
    width: 250px;
    background: black;
    opacity: 0.2;
    z-index: 10;
}
