/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

/*
 *= require gallery/responsive/elastislide
 *= require gallery/responsive
 *= require gallery/slideshow
 *= require gallery/galleria/classic
 *= require touchTouch
*/



body {
    font-family: open sans;
    margin: 0;
    padding: 0;
    /* IE10 Consumer Preview */     
    background-image: -ms-linear-gradient(left, #EDA97B 0%, #C94259 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(left, #EDA97B 0%, #C94259 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(left, #EDA97B 0%, #C94259 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #EDA97B), color-stop(1, #C94259));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(left, #EDA97B 0%, #C94259 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to right, #EDA97B 0%, #C94259 100%);
}

#title {
    color: whitesmoke;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    z-index: 400;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    height: 40px;
}

#navbar {
    z-index: 100;
    height: 40px;
    width: 100%;
    position: fixed;
    background-color: #1abc9c;
    box-shadow: 0px 0px 10px;
}

.log {
    position: fixed;
    width: 100px;
    height: 40px;
    z-index: 500;
    color: whitesmoke;
    text-align: center;
    right: 0%;
    background-color: #1abc9c;
}

.log_text {
    color: whitesmoke;
    position: relative;
    top: 7px;
}
.log:hover {
    transition: background-color 0.4s ease;
    background-color: #f1c40f;
}

#topleftbutton {
    width: 100px;
    height: 40px;
    background-color: #1abc9c;
    position: fixed;
    z-index: 500;
    float: left;
}

#topleftbutton:hover {
    transition: background-color 0.4s ease;
    background-color: #e74c3c;
}

a {
    text-decoration: none;
}

link {
    text-decoration: none;
}

.profile {
    position: fixed;
    z-index: 500;
    right: 100px;
    height: 40px;
    width: 100px;
    text-align: center;
    color: whitesmoke;
    background-color: #1abc9c;
}


a#stuff {
    text-decoration: none;
    color: whitesmoke;
}

a.profile_text {
    top: 7px;
    position: relative;
    color:whitesmoke;
}

.profile:hover {
    transition: background-color 0.4s ease;
    background-color: #f39c12;
}

#back {
    position: absolute;
    width: 100px;

    height: 40px;
    top: 0px;
    left: 0px;
}
#backtext {
    position: absolute;
    width: inherit;
    text-align: center;
    line-height: 0;
    color: whitesmoke;
    font-size: 16px;
    top: 18px;
}



/*-------------------------
    Simple reset
--------------------------*/


*{
    margin:0;
    padding:0;
}


/*----------------------------
    Thumbnails
-----------------------------*/

.thumbs{
    width:800px;
    margin:60px auto 35px;
    text-align:center;
}

.thumbs a{
    width:120px;
    height:120px;
    display:inline-block;
    border:7px solid #303030;
    box-shadow:0 1px 3px rgba(0,0,0,0.5);
    border-radius:4px;
    margin: 6px 6px 40px;
    position:relative;
    text-decoration:none;
    
    background-position:center center;
    background-repeat: no-repeat;
    
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
}

.thumbs a:after{
    background-color: #303030;
    border-radius: 7px;
    bottom: -136px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    content: attr(title);
    display: inline-block;
    font-size: 10px;
    max-width: 90px;
    overflow: hidden;
    padding: 2px 10px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

#credit{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    font-size: 11px;
    margin: 0 auto 70px;
    opacity: 0.5;
    padding: 12px 16px;
    text-align: center;
    width: 400px;
}


/*----------------------------
    The Footer
-----------------------------*/


footer{
    background-color: #111111;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
    height: 45px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

footer h2{
    color: #EEEEEE;
    font-size: 14px;
    font-weight: normal;
    left: 50%;
    margin-left: -400px;
    padding: 13px 0 0;
    position: absolute;
    width: 540px;
}

footer h2 i{
    font-style:normal;
    color:#888;
}

footer a.tzine,a.tzine:visited{
    color: #999999;
    font-size: 12px;
    left: 50%;
    margin: 16px 0 0 110px;
    position: absolute;
    text-decoration: none;
    top: 0;
}

footer a i{
    color:#ccc;
    font-style: normal;
}

footer a i b{
    color:#c92020;
    font-weight: normal;
}





